<!-- <div class="overflow-x-auto flex justify-center"> -->
<div class="flex justify-center">
  <div class="w-[90%] mt-8">
    <table class="table">
      <!-- head -->
      <thead>
        <tr class="prose">
          <th>ID</th>
          <!-- <th>Username</th> -->
          <th>Full Name</th>
          <!-- <th>Last Name</th> -->
          <th>Phone Number</th>
          <th>Join Date</th>
          <th>Starting Weight</th>
          <th>Birthday</th>
          <th>Height</th>
          <th>Age</th>
          <th>Sex</th>
          <th>Athlete</th>        
      </thead>
    <tbody>
        <tr class="hover" *ngFor="let user of users; let i = index">
            <td>{{ user.CardID }}</td>
            <!-- <td>{{ user.LoginID }}</td> -->
            <td>{{ user.FirstName }} {{ user.LastName }}</td>
            <!-- <td>{{ user.lastName }}</td> -->
            <td>{{ user.PhoneNumber }}</td>
            <td>{{ user.JoinDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ user.startingWeight }}</td>
            <td>{{ user.BirthdayDate | date:'yyyy-MM-dd' }}</td>
            <td>{{ user.height }}</td>
            <td>{{ calcAge(user.BirthdayDate) }}</td>
            <td>{{ user.Sex }}</td>
            <td>{{ user.Athlete ? 'Yes' : 'No' }}</td>
            <td><button class="btn btn-active btn-primary" routerLink="/user-measurment/{{user.CustomerID}}">Measurements</button></td>
            <td><button class="btn btn-active btn-primary" routerLink="/diet-program/{{user.CustomerID}}">Dietary Plan</button></td>
        </tr>
    </tbody>
    </table>
  </div>
</div>