<div class="grid grid-cols-1 gap-4 object-fill min-h-[90vh] w-full h-full place-items-center">
    <div class="flex w-[90%] h-20">
        <div class="h-20 flex-grow button btn btn-outline bg-base-300 rounded-box place-items-center" routerLink="/new-user">New User</div>
        <div class="divider divider-horizontal">OR</div>
        <div class="h-20 flex-grow button btn btn-outline bg-base-300 rounded-box place-items-center" routerLink="/users-details">Existing User</div>
      </div>
</div>