<div class="grid justify-items-center items-center w-full h-full">
    <div class="card lg:card-side bg-base-100 shadow-xl min-h-[600px] h-[80%] w-[90%] mt-5">
        <figure class="min-h-fit m-4">
            <div class="mockup-phone h-full">
                <div class="camera"></div>
                <div class="display h-full">
                    <div class="hero bg-base-200 h-full min-h-[80%]">
                        <div class="hero-content flex-col lg:flex-row-reverse">
                          <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
                            <form class="card-body">
                              <div class="form-control">
                                <label class="label">
                                  <span class="label-text">Phone Number</span>
                                </label>
                                <input type="Phone Number" placeholder="Phone Number" class="input input-bordered" required />
                              </div>
                              <div class="form-control mt-6">
                                <button class="btn btn-primary">Send Password</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
        </figure>
        <div class="card-body w-1/2">
            <div class="text-center lg:text-left">
                <h3 class="text-5xl font-bold">Login now</h3>
                <p class="py-6">
                    Enter Your Phone Number To Get A Password!
                </p>
              </div>
          </div>
        </div>
    </div>