<div class="bodyclass">
    <div class="form-container">
        <div class="prose container p-5">
            <h2>Insert New Food</h2>
          </div>
        <section class="col-span-12 xl:col-span-4">
    <div class="form-control">
        <label class="label">
            <span class="label-text">Food name</span>
        </label>
        <input type="text" placeholder="Type here" class="input input-bordered">
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Food Category</span>
        </label>
        <select class="select select-bordered">
            <option disabled="" selected="">Choose your Category</option>
            <option>Vegetables</option>
            <option>Fruits</option>
            <option>Meat</option>
            <option>Diarys</option>
            <option>Breads</option>
            <option>Snacks</option>
            <option>Drinks</option>
            <option>Legumes</option>
        </select>
    </div>
    <div class="form-control">
        <label class="label">
        <span class="label-text">Meal Category</span>
        </label>
        <select class="select select-bordered">
            <option disabled="" selected="">Choose Meal Category</option>
            <option>all meals</option>
            <option>breakfast</option>
            <option>snack</option>
            <option>lunch</option>
            <option>dinner</option>
        </select>
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Nutrition Details (cm)</span>
        </label>
        <div class="flex items-center gap-2">
            <input type="text" placeholder="Calories" class="input input-bordered w-1/2">
            <input type="text" placeholder="Protiens" class="input input-bordered w-1/2">
            <input type="text" placeholder="Fats" class="input input-bordered w-1/2">
            <input type="text" placeholder="Carbs" class="input input-bordered w-1/2">
            <input type="text" placeholder="Sugar" class="input input-bordered w-1/2">
        </div>
    </div>
    <hr class="my-6 border-t-2 border-base-content/5">
    <div class="form-control">
        <div class="flex items-end py-4">
            <button class="btn btn-primary grow">insert data</button>
        </div>
    </div>
        </section>
    </div>
</div>