<div class="bodyclass">
    <div class="form-control">
    <ul class="menu bg-base-200 rounded-box w-56">
        <li class="menu-title">Welcome to Relive Center</li>
        <details class="dropdown">
            <summary class="btn m-1">My Dietary Program</summary>
            <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
              <button class="btn" routerLink="/last-diet-plan">Current Dietary Program</button>
              <button class="btn" routerLink="/new-diet-plan-for-user">Build New Dietary Program</button>
            </ul>
          </details>
          <summary class="btn m-1"> Measurements</summary>
          <summary class="btn m-1"> Chat with Fadi</summary>
    </ul>
    </div>
</div>

